<?xml version="1.0"?>
<errconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<item code="10001" type="1" models="" message="错误的请求Access_token" />
	<item code="10002" type="1" models="" message="该Access_token无请求权限" />
	<item code="10003" type="1" models="" message="Access_token已过期" />
	<item code="10004" type="1" models="" message="未知的请求源或appkey已过期" />
	<item code="10005" type="1" models="" message="被禁止的IP" />
	<item code="10006" type="1" models="" message="请求超过次数限制" />
	<item code="10007" type="1" models="" message="测试KEY超过请求限制" />
	<item code="10008" type="1" models="" message="接口维护" />
	<item code="10009" type="1" models="" message="接口停用" />
	<item code="10010" type="1" models="" message="当前IP请求超过限制" />
	<item code="10011" type="1" models="" message="请求超时！" />
	<item code="10012" type="1" models="" message="请求Json参数异常" />
	<item code="10013" type="1" models="" message="新增异常" />
	<item code="10014" type="1" models="" message="修改异常，请检查参数是否正确，或是主键值不存在" />
	<item code="10015" type="1" models="" message="删除异常，请检查参数是否正确，或是主键值不存在" />
	<item code="10016" type="1" models="" message="参数异常" />
	<item code="10017" type="1" models="" message="查询主键ID不存在" />
	<item code="10018" type="1" models="" message="此条件下暂无数据" />
	<item code="10019" type="1" models="" message="发票已开" />
	<item code="10020" type="1" models="" message="发票号码已录入或发票名称重复" />
	<item code="10021" type="1" models="" message="未找到所关联的数据库" />
	<item code="10022" type="1" models="" message="发票号码已开，请先作废或冲红" />
	<item code="10023" type="1" models="" message="发票金额与收费金额不符" />
	<item code="10024" type="1" models="" message="开票人ID已存在" />
	<item code="10025" type="1" models="" message="开票系统错误" />
	<item code="10026" type="1" models="" message="未配置发票供应商" />
	<item code="10027" type="1" models="" message="销方基本信息配置不全" />
	<item code="10028" type="1" models="" message="开票明细不全" />
	<item code="10029" type="1" models="" message="发票系统参数配置不全" />
	<item code="10030" type="1" models="" message="发票系统错误" />
	<item code="10031" type="1" models="" message="发票添加错误" />
	<item code="10032" type="1" models="" message="纳税人识别号不能为空" />
	<item code="10033" type="1" models="" message="预付费面积.缴费日期配置不全" />


	<item code="12001" type="1" models="" message="区域不能为空" />
	<item code="12002" type="1" models="" message="区域ID不存在" />
	<item code="12003" type="1" models="" message="区域长度只能为10位字符" />
	<item code="12004" type="1" models="" message="时间格式不正确" />
	<item code="12005" type="1" models="" message="当前节点存在未禁用下级节点，不可删除" />
	<item code="12006" type="1" models="" message="数组参数不能为空" />
	<item code="12007" type="1" models="" message="当前传入的不是区域ID" />
	<item code="12008" type="1" models="" message="当前传入的不是用户房号" />

	<item code="90001" type="1" models="" message="已经添加过此房间了" />

	<item code="2001001" type="2" models="HouStorey" message="区域名称不能为空" />
	<item code="2001002" type="2" models="HouStorey" message="当前区域已存在此名称" />
	<item code="2001003" type="2" models="HouStorey" message="当前区域已存在此前导码" />
	<item code="2001004" type="2" models="HouStorey" message="已超过当前水司最大层级数" />
	<item code="2001005" type="2" models="HouStorey" message="请联系管理员配置区域最大级数" />

	<item code="2002001" type="2" models="UserInfo" message="用户名称不能为空" />
	<item code="2002002" type="2" models="UserInfo" message="用户不存在" />
	<item code="2002003" type="2" models="UserInfo" message="账户已经销户" />
	<item code="2002004" type="2" models="UserInfo" message="账户存在欠费/未注销水表，请排除异常再进行销户" />
  <item code="2002005" type="2" models="UserInfo" message="用户号已存在" />
  <item code="2002006" type="2" models="UserInfo" message="用户号不能为空" />
  <item code="2002007" type="2" models="UserInfo" message="开户失败" />

	<item code="2003001" type="2" models="MetMeter" message="表号已存在" />
	<item code="2003002" type="2" models="MetMeter" message="该表不存在" />
	<item code="2003003" type="2" models="MetMeter" message="该表号已上线使用" />
	<item code="2003004" type="2" models="MetMeter" message="批量录入表具超过最大限制" />
	<item code="2003005" type="2" models="MetMeter" message="添加表具类型错误" />
	<item code="2003006" type="2" models="MetMeter" message="没有表型对应的收费模式" />
	<item code="2003007" type="2" models="MetMeter" message="没有集中器" />
	<item code="2003009" type="2" models="MetMeter" message="表号重复" />
	<item code="2003010" type="2" models="MetMeter" message="该表号已上线使用，不允许修改" />
	<item code="2003011" type="2" models="MetMeter" message="该表IMEI信息不存在!" />
	<item code="2003012" type="2" models="MetMeter" message="加表失败!" />
	<item code="2003013" type="2" models="MetMeter" message="表号不能超过14位!" />


	<item code="2004001" type="2" models="Muster" message="集中器号不能为空" />
	<item code="2004002" type="2" models="Muster" message="首抄和补抄时间格式不正确" />
	<item code="2004003" type="2" models="Muster" message="集中器类型编号不存在" />
	<item code="2004004" type="2" models="Muster" message="命令类型编号不能为空" />
	<item code="2004005" type="2" models="Muster" message="无此命令类型编号" />
  <item code="2004006" type="2" models="Muster" message="无此集中器编号" />
  <item code="2004007" type="2" models="Muster" message="集中器状态改变失败" />

	<item code="2005001" type="2" models="Gather" message="采集器号已存在" />
	<item code="2005002" type="2" models="Gather" message="采集器号不存在" />
	<item code="2005003" type="2" models="Gather" message="集中器号不存在" />
	<item code="2005004" type="2" models="Gather" message="采集器号已使用，不能删除" />
  <item code="2005005" type="2" models="Gather" message="采集器不存在存在" />
  <item code="2005006" type="2" models="Gather" message="采集器类型不能为空" />
  
	<item code="2009001" type="2" models="MetBook" message="负责人不能为空" />
	<item code="2009002" type="2" models="MetBook" message="表册号不能为空" />
	<item code="2009003" type="2" models="MetBook" message="表册号已存在" />
	<item code="2009004" type="2" models="MetBook" message="表册名称不能为空" />
	<item code="2009005" type="2" models="MetBook" message="表册名称已存在" />
	<item code="2009006" type="2" models="MetBook" message="表册名称不存在" />
	<item code="2009007" type="2" models="MetBook" message="表册号不存在" />
	<item code="2009008" type="2" models="MetBook" message="册页号不存在" />
	<item code="2009009" type="2" models="MetBook" message="册页号必须是数字" />
	<item code="2009010" type="2" models="MetBook" message="请选择要入册的表信息" />
	<item code="2009011" type="2" models="MetBook" message="表号不能为空" />
	<item code="2009012" type="2" models="MetBook" message="表号不存在" />
	<item code="2009013" type="2" models="MetBook" message="抄表周期不能为空" />
	<item code="2009014" type="2" models="MetBook" message="请选择要调整的页信息" />
	<item code="2009015" type="2" models="MetBook" message="周期不能为空或不存在" />
	<item code="2009016" type="2" models="MetBook" message="表册中存在表页，不可删除" />
	<item code="2009017" type="2" models="MetBook" message="旧页号与表号及主键不符，调整会出错" />
	<item code="2009018" type="2" models="MetBook" message="此表册中不存在输入的页号" />
	<item code="2009019" type="2" models="MetBook" message="用户号不能为空" />
	<item code="2009020" type="2" models="MetBook" message="用户号不在此册页中" />
	<item code="2009021" type="2" models="MetBook" message="入册中的表在表册中已存在，不可重复添加" />

	<item code="2010001" type="2" models="DatRaw" message="抄表员不能为空" />
	<item code="2010002" type="2" models="DatRaw" message="计划月份不能小于当前月份" />
	<item code="2010003" type="2" models="DatRaw" message="计划用水量不能为空" />
	<item code="2010004" type="2" models="DatRaw" message="计划金额不能为空" />
	<item code="2010005" type="2" models="DatRaw" message="结束月份必须大于或等于开始月份" />
	<item code="2010006" type="2" models="DatRaw" message="同一抄表员，计划月份不能重复" />
	<item code="2010007" type="2" models="DatRaw" message="分表未抄表" />

	<item code="2011001" type="2" models="DatRaw" message="起始册页号必须是数字" />
	<item code="2011002" type="2" models="DatRaw" message="起止册页号不存在" />
	<item code="2011003" type="2" models="DatRaw" message="起始册页号不能大于结束册页号" />
	<item code="2011004" type="2" models="DatRaw" message="用户编号不存在" />
	<item code="2011005" type="2" models="DatRaw" message="表具号不存在" />
	<item code="2011006" type="2" models="DatRaw" message="本次读数输入非法" />
	<item code="2011007" type="2" models="DatRaw" message="本次抄读数不能小于上次抄读数" />
	<item code="2011008" type="2" models="DatRaw" message="本次抄读日期不能大于当前时间" />
	<item code="2011009" type="2" models="DatRaw" message="批量保存的数据太多，请减少数据再试" />
	<item code="2011010" type="2" models="DatRaw" message="本次抄读数不能大于上次抄读数" />

	<item code="2040001" type="2" models="MetType" message="表型名称不能为空" />
	<item code="2040002" type="2" models="MetType" message="型号不能为空" />
	<item code="2040003" type="2" models="MetType" message="口径不能为空" />
	<item code="2040004" type="2" models="MetType" message="此区域下表型名称已存在" />
	<item code="2040005" type="2" models="MetType" message="量程整数位与量程小数位必须是数字" />
	<item code="2040006" type="2" models="MetType" message="表大类不能为空" />
	<item code="2040007" type="2" models="MetType" message="表大类编号不存在" />
	<item code="2040008" type="2" models="MetType" message="表型不存在，请输入正确的表型" />
	<item code="2040009" type="2" models="MetType" message="口径不存在，请输入正确的口径" />
  <item code="2040010" type="2" models="MetType" message="新增表型失败" />

	<item code="2034001" type="2" models="Strategy" message="违约金策略号不能为空" />
	<item code="2034002" type="2" models="Strategy" message="违约金策略名称不能为空" />
	<item code="2034003" type="2" models="Strategy" message="违约金策略号已存在" />
	<item code="2034004" type="2" models="Strategy" message="违约金策略名称已存在" />
	<item code="2034005" type="2" models="Strategy" message="违约金策略号不存在" />
	<item code="2034006" type="2" models="Strategy" message="违约金策略名称不存在" />
	<item code="2034007" type="2" models="Strategy" message="违约金策略号必须是数字" />
  <item code="2034008" type="2" models="Strategy" message="变更失败" />
  
	<item code="2037001" type="2" models="SysTieDay" message="数据月份不能为空" />
	<item code="2037002" type="2" models="SysTieDay" message="开始日期不能为空" />
	<item code="2037003" type="2" models="SysTieDay" message="结束日期不能为空" />
	<item code="2037004" type="2" models="SysTieDay" message="修改状态不能为空" />
	<item code="2037005" type="2" models="SysTieDay" message="开始日期或结束日期不合法" />
	<item code="2037006" type="2" models="SysTieDay" message="结束日期必须大于或等于开始日期" />
	<item code="2037007" type="2" models="SysTieDay" message="修改状态只能为0或1" />
	<item code="2037008" type="2" models="SysTieDay" message="修改状态为1不可修改" />
	<item code="2037009" type="2" models="SysTieDay" message="当前时间未配置抄表月份" />
  <item code="2034010" type="2" models="Strategy" message="修改失败" />
  
	<item code="2033001" type="2" models="UserClass" message="用户类型编号不能为空" />
	<item code="2033002" type="2" models="UserClass" message="用户类型编号已存在" />
	<item code="2033003" type="2" models="UserClass" message="用户类型名称不能为空" />
	<item code="2033004" type="2" models="UserClass" message="用户类型名称已存在" />
	<item code="2033005" type="2" models="UserClass" message="用户类型编号长度只能为3位字符" />
	<item code="2033006" type="2" models="UserClass" message="用户已被禁用" />
	<item code="2033007" type="2" models="UserClass" message="密码错误" />
  <item code="2033008" type="2" models="UserClass" message="用户已被使用" />
  <item code="2033009" type="2" models="UserClass" message="删除失败" />
  
	<item code="2041001" type="2" models="Cluster" message="还有未解绑的分表不能解绑总表" />

	<item code="2042001" type="2" models="SubMeter" message="此区域下无总分表数据，请核实入参" />
	<item code="2042002" type="2" models="SubMeter" message="此区域下表号已绑定用户表，请核实入参" />

	<item code="2043000" type="2" models="SysPara" message="属性ID已存在" />
	<item code="2043001" type="2" models="SysPara" message="属性ID正在使用中，不可删除" />
	<item code="2043002" type="2" models="SysPara" message="属性名称已存在" />
	<item code="2043003" type="2" models="SysPara" message="物业大类名称已存在" />

	<item code="2099001" type="2" models="Query" message="查询发送时间的区间不能大于30天" />

	<item code="300001" type="2" models="WaterNature" message="用水性质名称已存在" />
	<item code="300002" type="2" models="WaterNature" message="添加用水性质失败" />
	<item code="300003" type="2" models="WaterNature" message="要修改的用水性质ID有误" />
	<item code="300004" type="2" models="WaterNature" message="修改用水性质失败" />
	<item code="300005" type="2" models="WaterNature" message="要修改的用水性质不存在,请重新选择" />
	<item code="300006" type="2" models="WaterNature" message="删除用水性质失败" />
	<item code="300007" type="2" models="WaterNature" message="正在使用的用水性质，不允许删除" />
	<item code="300008" type="2" models="WaterNature" message="要删除的用水性质不存在" />
	<item code="300009" type="2" models="WaterNature" message="用水性质ID有误" />
	<item code="300010" type="2" models="WaterNature" message="发票类型不存在" />
	<item code="300011" type="2" models="WaterNature" message="项目类型不存在" />
	<item code="300012" type="2" models="WaterNature" message="该区域系统中不存在" />
	<item code="300013" type="2" models="WaterNature" message="违约金策略不存在" />
	<item code="300014" type="2" models="WaterNature" message="收费项目名称已存在" />
	<item code="300015" type="2" models="WaterNature" message="添加收费项失败" />
	<item code="300016" type="2" models="WaterNature" message="收费项区域与所在用水性质的区域不同，请核对信息" />
	<item code="300017" type="2" models="WaterNature" message="用水性质编号有误，请核对信息" />
	<item code="300018" type="2" models="WaterNature" message="编辑收费项失败" />
	<item code="300019" type="2" models="WaterNature" message="删除收费项失败" />
	<item code="300020" type="2" models="WaterNature" message="保存收费项失败" />
	<item code="300021" type="2" models="WaterNature" message="用水性质选择定额阶梯时，定额量必须填入大于0的值" />
	<item code="300022" type="2" models="WaterNature" message="收费项目未设置起止时间" />
	<item code="300023" type="2" models="WaterNature" message="项目属性数据不能重复添加" />
	<item code="300024" type="2" models="WaterNature" message="一个收费项目只能有一种状态的比率" />
	<item code="300025" type="2" models="WaterNature" message="无保存数据" />
  <item code="300026" type="2" models="WaterNature" message="按户阶梯，所选用水性质必须为阶梯用水性质" />
  <item code="300027" type="2" models="WaterNature" message="所选用水性质阶梯不兼容！" />
  <item code="300028" type="2" models="WaterNature" message="定价失败" />
  <item code="300029" type="2" models="WaterNature" message="项目类型重复" />
  <item code="300030" type="2" models="WaterNature" message="该区域已存在相同名称" />

  <item code="400001" type="2" models="" message="缴费失败,没有正常返回单号"/>
	<item code="400002" type="2" models="" message="退预收金额应该小于等于账户余额"/>
	<item code="400003" type="2" models="" message="缴费成功，写卡失败。请做补卡处理"/>
	<item code="400004" type="2" models="" message="开户成功，写卡失败。请做补卡处理"/>
	<item code="400005" type="2" models="" message="补卡成功，写卡失败。请做补卡处理"/>
	<item code="400006" type="2" models="" message="换表成功，写卡失败。请做补卡处理"/>
  <item code="400007" type="2" models="" message="缴费成功,开阀失败!请在实时操控进行操作!"/>
  <item code="400008" type="2" models="" message="缴费用户编号不能为空!"/>
  <item code="400009" type="2" models="" message="缴费房屋编号不能为空!"/>
  <item code="400010" type="2" models="" message="缴费单号不能为空!"/>
  <item code="400011" type="2" models="" message="缴费存在卡表数据，卡号不能为空!"/>
  <item code="400012" type="2" models="" message="缴费存在卡表数据，卡表状态集合不能为空!"/>

	<item code="205001" type="2" models="met_apply" message="不能重复提交换表申请"/>

	<item code="500001" type="2" models="MSG_SEND_TEMPLATE" message="未设置短信模板"/>
	<item code="500002" type="2" models="MSG_SEND_TEMPLATE" message="表信息同步集抄系统数据库失败"/>
	<item code="500003" type="2" models="MSG_SEND_TEMPLATE" message="向集抄系发送命令失败"/>
	<item code="500005" type="2" models="MSG_SEND_TEMPLATE" message="向营收系统发送表命令失败"/>
	<item code="500006" type="2" models="MSG_SEND_TEMPLATE" message="出生产库失败"/>
  <item code="500007" type="2" models="MSG_SEND_TEMPLATE" message="发送表命令失败"/>
  <item code="500008" type="2" models="MSG_SEND_TEMPLATE" message="从集抄系统获取命令状态失败"/>
  <item code="500009" type="2" models="MSG_SEND_TEMPLATE" message="从集抄系统获取命令状态更新营收库失败"/>
	<item code="500010" type="2" models="MSG_SEND_TEMPLATE" message="换表失败"/>
</errconfig>