<div class="jumbotron">
    <h2>智慧水务管理系统API接口文档</h2>
    <p class="lead">功能模块列表</p>
</div>
<div class="row" style="padding: 20px;">
    <p class="MsoNormal">
        <span style="font-family:宋体;background:aqua;margin-right:20px"><b>设计完成</b></span>
        <span style="font-family:宋体;background:yellow;margin-right:20px"><b>开发中</b></span>
        <span style="font-family:宋体;background:lime;"><b>已实现</b></span>
    </p>
    <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="width:100%;border:none; font-size:medium">
        <tbody>
            <tr>
                <td width="73" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">系统名称</span><span></span>
                    </p>
                </td>
                <td width="76" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">一级菜单</span><span></span>
                    </p>
                </td>
                <td width="76" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">二级菜单</span><span></span>
                    </p>
                </td>
                <td width="71" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">三级菜单</span><span></span>
                    </p>
                </td>
                <td width="61" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">模块码</span><span></span>
                    </p>
                </td>
                <td width="113" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">子功能</span><span></span>
                    </p>
                </td>
                <td width="76" valign="middle" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">开发人员</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="73" valign="middle" rowspan="46" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">营收子系统</span><span></span>
                    </p>
                </td>
                <td width="76" rowspan="9" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">工作台</span><span></span>
                    </p>
                </td>
                <td width="76" rowspan="9" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="left">
                        <span>/</span>
                    </p>
                </td>
                <td width="71" rowspan="9" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="left">
                        <span>/</span>
                    </p>
                </td>
                <td width="61" rowspan="9" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>000</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">查询用户信息</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用户报停</span><span>/</span><span style="font-family:宋体;">报停恢复</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">营业收费</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">王靖</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:aqua;">预存</span><span style="background:yellow;"></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:aqua;">人工计费</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">销户</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">缴费记录</span><span style="background:lime;">-</span>
                        <span style="font-family:宋体;background:lime;">查询</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">王靖</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">缴费记录</span><span>-</span><span style="font-family:宋体;">开票</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">缴费记录</span><span style="background:lime;">-</span>
                        <span style="font-family:宋体;background:lime;">退费</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">王靖</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="10" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用户管理</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:yellow;">区域管理</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>-</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>014</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">开户</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>-</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>001</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">李轩</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="2" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">档案管理</span><span></span>
                    </p>
                </td>
                <td width="71" rowspan="2" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>/</span>
                    </p>
                </td>
                <td width="61" rowspan="2" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>002</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">用户信息列表</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">李轩</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">移动用户</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="6" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用户详情</span><span></span>
                    </p>
                </td>
                <td width="71" rowspan="6" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>/</span>
                    </p>
                </td>
                <td width="61" rowspan="6" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>003</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:yellow;">用户详细信息查询</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">李轩</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用户信息变更</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">李轩</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">加表</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">李轩</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:aqua;">换表</span><span style="background:aqua;"></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:aqua;">注销表</span><span style="background:aqua;"></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用量详情</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="8" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">抄表管理</span><span></span>
                    </p>
                </td>
                <td width="76" rowspan="5" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">远传表抄表</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">集中器管理</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>004</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">采集器管理</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>005</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">实时抄控</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>006</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">自动任务</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>007</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">物联网设置</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>008</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="3" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">机械表抄表</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">表册管理</span><span></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>009</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">抄表计划</span><span style="background:lime;"></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>010</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">抄表录入</span><span style="background:lime;"></span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>011</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">费用管理</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">费用结转</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>012</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="5" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">发票管理</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">一级发放</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>019</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">二级发放</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>020</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">发票领用</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>021</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">发票核销</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>022</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">发票作废</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>023</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="2" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">特殊处理</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">用量调整</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>013</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">费用减免</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>028</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">查询</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>…</span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">统计</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>…</span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" rowspan="9" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">系统设置</span><span></span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">基础参数</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>032</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">王靖</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">用户类型</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>033</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    @*<p class="MsoNormal">*@
                        <span style="font-family:宋体;background:lime;">违约金策略设置</span><span></span>
                    @*</p>*@
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>034</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">张彪</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">用水性质设置</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>035</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">王靖</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;">非用水收费项目设置</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>036</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">扎帐日设置</span><span></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>037</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <s><span style="font-family:宋体;">费用结转设置</span><span></span></s>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>038</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <s><span style="font-family:宋体;">口径设置</span><span></span></s>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>039</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>&nbsp;</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span style="font-family:宋体;background:lime;">表型设置</span><span style="background:lime;"></span>
                    </p>
                </td>
                <td width="71" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="61" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span>040</span>
                    </p>
                </td>
                <td width="113" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal">
                        <span>&nbsp;</span>
                    </p>
                </td>
                <td width="76" style="border:solid windowtext 1.0pt;">
                    <p class="MsoNormal" align="center" style="text-align:center;">
                        <span style="font-family:宋体;">高宁</span><span></span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
